# Dependencies
node_modules
/target

# Production
dist
build

# Environment
.env
.env.local

# IDEs
.vscode/*
!.vscode/extensions.json
.idea

# System
.DS_Store

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Terraform (since you use it)
.terraform
*.tfstate
*.tfstate.backup
